body{
    overflow: hidden;
}
.ourstory{
    display: flex;
    padding: 0px;
}
.ourstory .container {
    background: #000 url(../img/interior2.jpg);
    height: 700px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#fff;
    padding: 0;
    top: 0;
    left: 0;
}
.row{
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    display: flex;
}
.ourstory .color-overly{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,rgba(111, 30, 81,1.0),rgba(131, 52, 113,0.7),rgba(99, 205, 218,0));
    opacity: .7;
    position: absolute;
}

.ourstory .story{
    margin-top: 200px;
    margin-left: 100px;
    color: snow;
    z-index: 1;

    
   
}






 .story .small{
    font-size: 30px;
     padding-right: 10px;
     font-weight: bold;
     letter-spacing: 5px;

}

 .story .big{
    font-size: 40px;
     font-weight: bold;
     letter-spacing: 5px;

}
.story .big .one{
    font-size: 50px;
    font-weight: bold;
    
}

hr{
    border: 3px solid #9e174a;
    width: 185px;
    margin-left: 0px;
    margin-top: 0px;
}

.special{
    font-size: 40px;
    font-weight: bold;
    color: #9e174a;
    display: inline-block;
}
.ourstory p{
    display: inline-block;
    margin-left: 30px;
    margin-top: -52px;
}
.ourvision p{
    display: inline-block;
    margin-left: 30px;
    margin-top: -52px;
}
.ourvalue p{
    display: inline-block;
    margin-left: 30px;
    margin-top: -52px;
}
.whyus p{
    display: inline-block;
    margin-left: 30px;
    margin-top: -52px;
}





.ourvision{
    display: flex;
    padding: 0px;
}
.ourvision .container {
    background: #000 url(../img/2932.jpg);
    height: 655px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#fff;
    padding: 0;
    top: 0;
    left: 0;
}
.ourvision .color-overly{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left ,rgba(234, 32, 39,.9),rgba(237, 76, 103,.5),rgba(99, 205, 218,0));
    opacity: .7;
    position: absolute;
}
.ourvision .vision{
    margin-top: 150px;
/*    margin-left: 700px;*/
    color: snow;
    z-index: 4;
/*    width: 600px;*/
    height: 300px;
    z-index: 1;
    float: right
}


 .vision .small{
    font-size: 20px;
     padding-right: 10px;
     font-weight: bold;
     letter-spacing: 5px;

}
 .vision .big{
    font-size: 30px;
     font-weight: bold;
     letter-spacing: 5px;

}
.vision .big .one{
    font-size: 40px;
    font-weight: bold;
}

.ourvalue{
    display: flex;
    padding: 0px;
}
.ourvalue .container {
    background: #000 url(../img/annie-spratt-294447-unsplash.jpg);
    height: 630px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#fff;
    padding: 0;
    top: 0;
    left: 0;
}
.ourvalue .color-overly{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,rgba(27, 20, 100,1.0),rgba(6, 82, 221,0.5),rgba(99, 205, 218,0));
    opacity: .7;
    position: absolute;
}
.ourvalue .value{
    margin-top: 150px;
    margin-left: 100px;
    color: snow;
    z-index: 4;
/*    width: 600px;*/
    height: 300px;
    z-index: 1;
}

 .value .small{
    font-size: 20px;
     padding-right: 10px;
     font-weight: bold;
     letter-spacing: 5px;

}
 .value .big{
    font-size: 30px;
     font-weight: bold;
     letter-spacing: 5px;

}
.value .big .one{
    font-size: 40px;
    font-weight: bold;
}

.whyus{
    display: flex;
    padding: 0px;
}
.whyus .container {
    background: #000 url(../img/OE9S2N0.jpg);
    height: 655px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#fff;
    padding: 0;
    top: 0;
    left: 0;
}
.whyus .color-overly{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left ,rgba(24, 44, 97,1.0),rgba(237, 76, 103,.5),rgba(99, 205, 218,0));
    opacity: .7;
    position: absolute;
}
.whyus .vision{
    margin-top: 150px;
/*    margin-left: 700px;*/
    color: snow;
    z-index: 4;
/*    width: 600px;*/
    height: 300px;
    z-index: 1;
    float: right
}
p{
    line-height: 35px;
    font-size: 18px;
}
@media screen and (max-width : 600px){
.ourstory .story{
        margin-top: 80px;
        margin-left: 0px;
    }
    .ourvalue .value{
        margin-top: 80px;
        margin-left: 0px;
    }
    .ourvision .vision,.whyus .vision{
        margin-top: 80px;
    }
    p{
        line-height: 25px;
        font-size: 20px;
    }
}
@media only screen and (max-width:414px){
    body{
        width: 100%;
    }
/*
    .ourvision p{
        line-height: 25px;
        font-size: 20px;
    }
*/
}
@media only screen and (max-width:320px){
    body{
        width: 131%;
    }
    p{
        line-height: 25px;
        font-size: 20px;
    }
}

@media only screen and (max-width:375px){
    body{
        width: 100%;
    }
}

@media only screen and (max-width:786px){
    body{
        width: 100%;
    }
    p{
        line-height: 25px;
        font-size: 20px;
    }
}