section{
    padding-top: 100px;
}
.carousel-indicators li{
    height: 0px;
}
.carousel-inner .item img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    /*background-size: cover;*/
}
.content h3{
    margin: 30px;
    margin-bottom: 30px;
    text-align: center;
}